<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="logging" type="ModularisTest.Configuration.LogConfigurationSection, ModularisTest" />
  </configSections>
  <logging>
    <destinations>
      <add name="File" enabled="true" />
      <add name="Console" enabled="true" />
      <add name="Database" enabled="false" connectionString="Server=localhost;Database=Logs;Integrated Security=true;" />
    </destinations>
    <messageTypes>
      <add type="Message" enabled="true" />
      <add type="Warning" enabled="true" />
      <add type="Error" enabled="true" />
    </messageTypes>
    <fileSettings>
      <add key="LogFileDirectory" value="" />
    </fileSettings>
  </logging>
</configuration>
